<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <style>
      html {
        font-family: "Sarabun", sans-serif;
        font-size: 16px;
      }
      hr.solid {
        border-top: 3px solid #bbb;
      }
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      tfoot {
        border-top: 3px solid #bbb;
      }
      td,
      th {
        padding: 8px;
      }

      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <td>
            <h2>#<%= receipt.docId %></h2>
            <hr class="solid" />
            <div style="display: flex; justify-content: space-between">
              <div>
                <%= receipt.contactName %><br />
                <%= receipt.contactAddress %>,&nbsp<%=
                receipt.contactSubDistrict %><br />
                <%= receipt.contactDistrict %>,&nbsp<%= receipt.contactProvince
                %>,&nbsp<%= receipt.contactZipCode %><br />
                <%= receipt.contactTel %><br />
              </div>
              <div><%= receipt.docDate %><br /></div>
            </div>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div><%- tableHtml %></div>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
