<table>
  <thead style="border-top: 1px solid #bbb; border-bottom: 3px solid #bbb">
    <tr>
      <th scope="col" style="width: 30%;">ไซส์</th>
      <th scope="col" style="width: 20%;">กุ้ง</th>
      <th scope="col" style="width: 20%;">น้ำหนัก</th>
      <th scope="col" style="width: 15%;">ราคา</th>
      <th scope="col" style="width: 15%;">จำนวนเงิน</th>
    </tr>
  </thead>
  <tbody style="border-top: 1px solid #bbb !important; border-bottom: 3px solid #bbb !important; font-size: 14px;">
    <% for (var i = 0; i < items.length; i++) { %>
    <tr>
      <td><%= items[i].description %></td>
      <td><%= items[i].name %></td>
      <td style="text-align: right;"><%= items[i].quantityText %></td>
      <td style="text-align: right;"><%= items[i].pricePerUnitText %></td>
      <td style="text-align: right;"><%= items[i].totalText %></td>
    </tr>
    <% } %>
    <% if(receipt.sumQuantityText != ''){ %>
    <tr style="border-top: 1px solid #bbb;">
      <td colspan="2" style="text-align: right"> น้ำหนักรวม</td>
      <td style="text-align: right"><%= receipt.sumQuantityText  %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr style="vertical-align: bottom">
      <td colspan="3" style="padding-top: 50px; font-weight: bold; text-align: right">รวมเป็นเงิน</td>
      <td colspan="2" style="padding-top: 50px; text-align: right"><%= receipt.subTotalText %></td>
    </tr>
    <tr style="vertical-align: bottom">
      <td colspan="3" style="font-weight: bold; text-align: right">ส่วนลด</td>
      <td colspan="2" style="text-align: right"><%= receipt.discountText %></td>
    </tr>
    <tr style="vertical-align: bottom">
      <td colspan="3" style="font-weight: bold; text-align: right">ยอดรวมสุทธิ</td>
      <td colspan="2" style="text-align: right; border-bottom: 3px double #bbb;"><%= receipt.totalText %></td>
    </tr>
  </tfoot>
</table>
