<table>
  <thead style="border-top: 1px solid #bbb; border-bottom: 3px solid #bbb">
    <tr>
      <th scope="col">ไซส์</th>
      <th scope="col">กุ้ง</th>
      <th scope="col">น้ำหนัก</th>
      <th scope="col">ราคา</th>
      <th scope="col">จำนวนเงิน</th>
    </tr>
  </thead>
  <tbody style="border-top: 1px solid #bbb !important; border-bottom: 3px solid #bbb !important; font-size: 14px;">
    <% for (var i = 0; i < items.length; i++) { %>
    <tr>
      <td><%= items[i].description %></td>
      <td><%= items[i].name %></td>
      <td style="text-align: right;"><%= items[i].quantityText %></td>
      <td style="text-align: right;"><%= items[i].pricePerUnitText %></td>
      <td style="text-align: right;"><%= items[i].totalText %></td>
    </tr>
    <% } %>
  </tbody>
  <tfoot>
    <tr vertical-align: bottom">
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold; text-align: right">รวมเป็นเงิน</td>
      <td style="text-align: right"><%= receipt.subTotalText %></td>
    </tr>
    <tr vertical-align: bottom">
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold; text-align: right">ส่วนลด</td>
      <td style="text-align: right"><%= receipt.discountText %></td>
    </tr>
    <tr vertical-align: bottom">
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold; text-align: right">ยอดรวมสุทธิ</td>
      <td style="text-align: right"><%= receipt.totalText %></td>
    </tr>
    <!-- <tr vertical-align: bottom">
      <td></td>
      <td></td>
      <td></td>
      <td style="font-weight: bold; text-align: right">ยอดชำระ</td>
      <td style="text-align: right"><%= receipt.totalIncludetVat %></td>
    </tr> -->
  </tfoot>
</table>
